body {
    font-family: Arial, sans-serif;
    background-color: #fdfdfd;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: rgb(139, 136, 136);
}

header {
    background-color: rgb(21, 20, 20);
    color: rgba(245, 242, 242, 0);
    padding: 20px;
}

h1, h2 {
    color: #444;
}

.song-lyrics {
    background: transparent; /* Fully transparent */
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.song-player {
    margin: 20px;
}

.about-song, .about-artist {
    background: transparent; 
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

footer {
    background-color: #565555;
    color: rgb(255, 255, 255);
    padding: 10px;
    margin-top: 20px;
}

